{% extends 'base.html.twig' %}

{% block title %}Create new group{% endblock %}

{% block body %}
    {{ include('common/navbar.html.twig', {'loggedUser': loggedUser}) }}
{% endblock %}

{% block body_container %}
    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="jumbotron">
                <div id="formContent">
                    <h1 class="h3 mb-3 font-weight-normal text-center">Create new group</h1>
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}