{% extends 'base.html.twig' %}

{% block title %}Search results!{% endblock %}

{% block body %}
    {{ include('common/navbar.html.twig') }}
{% endblock %}

{% block body_container %}
    <h3>Access denied</h3>
{% endblock %}