{% extends 'base.html.twig' %}

{% block title %}No user{% endblock %}

{% block body %}
    {{ include('common/navbar.html.twig') }}
{% endblock %}

{% block body_container %}
    <h3>User doesnt exist</h3>
{% endblock %}